.wysiwyg {
	
	position: relative;
	width: 550px;
	background-color: #e8e8e8;
	border: solid #191a1a 1px;
	padding: 3px;
	margin: 0px;
	color: black;
	text-align: left;
	height: 250px;
	
}


.wysiwyg textarea {
	color: black;
	font-family: courier;
	font-size: 12px;
}

.wysiwyg a {
	color: blue;
	text-decoration: underline;
}




.wysiwyg .boldButton {
	
	position: absolute;
	top: 3px;
	left: 3px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') 0px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .boldButton_hover {
	
	position: absolute;
	top: 3px;
	left: 3px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') 0px -22px;
	
}


.wysiwyg .italicButton {
	
	position: absolute;
	top: 3px;
	left: 28px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -22px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .italicButton_hover {
	position: absolute;
	top: 3px;
	left: 28px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') -22px -22px;
	
}



.wysiwyg .underlineButton {
	
	position: absolute;
	top: 3px;
	left: 53px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -44px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .underlineButton_hover {

	position: absolute;
	top: 3px;
	left: 53px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') -44px -22px;
	
}


.wysiwyg .leftalignButton {
	
	position: absolute;
	top: 3px;
	left: 78px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -66px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .leftalignButton_hover {

	position: absolute;
	top: 3px;
	left: 78px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') -66px -22px;

}

.wysiwyg .centeralignButton {
	
	position: absolute;
	top: 3px;
	left: 103px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -88px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .centeralignButton_hover {

	position: absolute;
	top: 3px;
	left: 103px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') -88px -22px;

}


.wysiwyg .rightalignButton {
	
	position: absolute;
	top: 3px;
	left: 128px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -110px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .rightalignButton_hover {

	position: absolute;
	top: 3px;
	left: 128px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') -110px -22px;
	
}


.wysiwyg .unorderedlistButton {
	
	position: absolute;
	top: 3px;
	left: 153px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -132px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .unorderedlistButton_hover {
	
	position: absolute;
	top: 3px;
	left: 153px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') -132px -22px;
	
}


.wysiwyg .orderedlistButton {
	
	position: absolute;
	top: 3px;
	left: 178px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -154px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .orderedlistButton_hover {
	
	position: absolute;
	top: 3px;
	left: 178px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') -154px -22px;
	
}


.wysiwyg #linkButton {
	
	position: absolute;
	top: 3px;
	left: 203px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -176px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg #linkButton:hover {
	
	background: url('images/button_sprite.png') -176px -22px;

}

.wysiwyg #imageButton {
	
	position: absolute;
	top: 3px;
	left: 228px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -198px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg #imageButton:hover {

	background: url('images/button_sprite.png') -198px -22px;
	
}



.wysiwyg .htmlButton {
	
	position: absolute;
	top: 3px;
	left: 253px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -220px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .htmlButton_hover {
	
	position: absolute;
	top: 3px;
	left: 253px;
	width: 22px;
	height: 22px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	background: url('images/button_sprite.png') -220px -22px;
	
}


.wysiwyg #youtubeButton {
	
	position: absolute;
	top: 3px;
	left: 278px;
	width: 22px;
	height: 22px;
	background: url('images/button_sprite.png') -242px 0px;
	padding: 0px;
	margin: 0px 3px 0px 0px;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg #youtubeButton:hover {
	
	background: url('images/button_sprite.png') -242px -22px;
	
}


.wysiwyg .dropDownBox {
	
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 3px;
	border: solid #c9c9c9 1px;
	background-color: #ffffff;
	color: black;
	font-size: 12px;
	margin: 1px;
	font-family: verdana;
	cursor: pointer;
	z-index: 999;
	
}

.wysiwyg .dropDownBox .downArrow {
	
	position: absolute;
	right: 0px;
	top: 3px;
	height: 12px;
	width: 12px;
	padding: 0px;
	margin: 0px 0px 0px 8px;
	background: url('images/downarrow.png') 0px 0px;
	background-repeat: no-repeat;
	border: 0px;
	cursor: pointer;
	
}


.wysiwyg .dropDownBox ul {
	
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: none;
	
}

.wysiwyg .dropDownBox li {
	
	padding: 3px;
	border: solid #c9c9c9 1px;
	background-color: #ffffff;
	color: black;
	font-size: 12px;
	margin: 1px;
	font-family: verdana;
	
}

.wysiwyg .dropDownBox li:hover {

	background-color: #e8e8e8;
	cursor: pointer;
	
}



